/* Google FontsからNoto Sans Japanese (weight: 400) を読み込む */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

/* 全体のベースフォントを設定 */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* レコード一覧のヘッダーと各セルの文字サイズを12pxに変更 */
.listView-control-gaia,
.recordlist-gaia,
button.recordlist-username-gaia,
.control-label-gaia, 
.fm-canvas-gaia .input-label-cybozu, 
.subtable-row-label-gaia,
button.user-link-cybozu {
    font-size: 12px !important;
}

/* レコード詳細画面のフィールド内文字サイズを12pxに変更 */
#record-gaia {
  font-size: 12px !important;
}

/* 文字の上下中央揃え */
.value-gaia {
  display: flex;
  align-items: center;
  height: 100%; 
}

/* レコード詳細画面の背景を白色に変更*/
#record-gaia,
.showlayout-gaia,
.row-gaia .control-gaia.control-group-gaia,
.control-label-gaia,
.fm-canvas-gaia .input-label-cybozu,
.subtable-row-label-gaia,
.row-gaia .control-gaia.control-label-field-gaia,
.gaia-argoui-app-info-content {
    background-color: #ffffff;
}
